body {
  margin: 0;
  background: #000;
}

#videobox {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

#video {
  display: block;
  transform: rotateZ(180deg); /* ‚È‚º‚©“V’n”½“]‚·‚é‚Ì‚Å“V’n”½“]‚µ•Ô‚· */
  z-index: -100;
}

#canvas {
  display: block;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
#videobox .face{
  position: absolute;
  bottom: 0; right: 0; z-index: 2;
}