body {
-webkit-touch-callout: none;
-webkit-user-select:none;
}

#videobox {
  position: absolute;
  //top: 10px; left: 10px;
  transform-origin: left top;
  transform: scale(.1);
}

#video {
  display: block;
  //transform: rotateZ(180deg); /* ‚È‚º‚©“V’n”½“]‚·‚é‚Ì‚Å“V’n”½“]‚µ•Ô‚· */
}

#canvas {
  display: block;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: -1;
}

#body   {
    top:0%;
    left:0%;
    width: 100%; height: 100%;
    z-index: 1;
}

#body .face{
  position: fixed;
  bottom: 0%; right: 0%; z-index: 2;
}

#body .mouth{
  position: fixed;
  bottom: -15px; right: -30px; z-index: 4;
}

#body .eye{
  position: fixed;
  bottom: -40px; right: -40px; z-index: 3;
}